*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
}
.logo{
    width: 70px;
    height: 70px;
}
body{
    background-image: url(/img/bgr.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
    background-size: 100%;
}
.navbar{
    margin: 20px 50px 10px 50px;
    display: flex;
    justify-content: space-between;
}
.navbar__menu{
    display: flex;
}
.navbar__menu--list{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.navbar__menu--list li a{
    padding: 0px 25px;
    font-weight: 600;
    color: rgb(255 255 255 / 75%);
    text-decoration: none;
}
.navbar__menu--list li :hover{
    color: #ffffff;
    transition: .5s;
}
.content{
    margin: 150px 70px 70px 70px;
    width: 41%;
}
.content a{
    text-decoration: none;
}
.content p{
    margin: 0px 0px 15px 0px;
    font-size: 18px;
    color: rgb(255 255 255 / 75%);
}
.content h1{
    margin: 30px 0px 20px 0px;
    font-size: 30px;
}
.content__get-started{
    margin: 25px 0px 0px 0px;
    width: 150px;
    height: 60px;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    justify-content: center;
    line-height: 55px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    border-color: red;
}
.content__get-started:hover{
    background: rgb(156,21,41);
    background: linear-gradient(90deg, rgba(156,21,41,1) 0%, rgba(139,39,112,1) 50%, rgba(134,88,213,1) 100%);
    transition: .5s;
}